body {
	margin: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	background: #36454F;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
button {
	align-items: center;
	background-color: #fb8b24;
	border: 1px solid #fb8b24;
	border-radius: 3px;
	box-sizing: content-box;
	color: #000;
	cursor: pointer;
	display: inline-flex;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .15px;
	min-height: 18px;
	padding: 7px 18px;
	text-transform: uppercase;
}
#controls {
	top: 0;
	font-size: x-large;
	height: 40px;
	border-bottom: 1px solid #FB8B24;
	background: #FAF0E6;
	position: fixed;
	width: 100%;
}
#board {
	margin: auto;
	margin-top: 40px;
	padding: 5px;
}
#board td {
	width: 20px;
	height: 20px;
	text-align: center;
	background: gray;
}
td[data-color=""] {
	color: lightGray;
}
td[data-color="w"] {
	color: #fff;
}
td[data-color="b"] {
	color: #000;
}